body {
  background-image: url('photos/baseball-field.jpg');
  background-size: 1800px 1125px;
  background-position: -100px -300px;
  margin: 0;
}

.header {
  font-family: 'Trirong', serif;
  background-color: #cccccc;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  padding: 0;
  height: 75px;
  position: relative;
  font-size: 25px;
}

.header p {
  margin: 0;
  top: 50%;
  margin-left: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1 {
  width: 180px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background: linear-gradient(to right, #aaccee, #aaccd4);
}

.button1 h3 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
}

.active {
  background: #7aaadd;
  box-shadow: 0 4px 8px 0 #000000;
}

.clicked {
  background: #6a99cc;
}

.buttoncontainer a {
  color: black;
}

.buttoncontainer {
  width: 180px;
  position: relative;
  margin-left: 10px;
}

.buttons {
  font-family: 'Prompt', sans-serif;
  float: left;
  width: 200px;
  height: 725px;
  background: #6e6e6e;
  border-right: 1px solid #eeeeee;
}

.lists {
  margin-left: 210px;
  margin-right: 10px;
}

.list {
  background: #ffffff;
  box-shadow: 0 5px 10px #000000;
  margin: 0;
  display: none;
  width: auto;
}

.listcontainer {
  height: 180px;
  width: 180px;
  margin-bottom: -4px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
}

.imgactive {
  background: #aaaaaa;
}

.txtactive {
  color: #eeeeee;
}

.listcontainer img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
